---
 // @ts-nocheck
 import App from "../../layouts/App.astro"
---
<App
    title = "One-Sample t-Test Calculator"
    ogtitle = "One-Sample t-Test Calculator"
    description = "Comprehensive One-sample t-test calculator"
    keywords = "Statistics, One-sample t-test, calculator"
    content = ""
>
    <Fragment slot="app">
        <h1>One-Sample $t$-Test Calculator</h1>
        <noscript>
            Enable JavaScript for this calculator to work.
        </noscript>
        <!-- Div needed for first input label to have correct vertical position -->
        <div id="form">
            <label class="input" for="popmean">
                <span class="input__label">Population mean <i>μ</i></span>
                <input id="popmean" class="input__field" required placeholder="" type="text" onKeyDown="tdo(event)">
            </label>
            <label class="input" for="samplemean">
                <span class="input__label">Sample mean $\overline x$</span>
                <input id="samplemean" class="input__field" required placeholder="" type="text" onKeyDown="tdo(event)">
            </label>
            <label class="input" for="std">
                <span class="input__label">Sample standard deviation $s_x$</span>
                <input id="std" class="input__field" placeholder="" type="text" onKeyDown="tdo(event)">
            </label>
            <label class="input" for="count">
                <span class="input__label">Number of samples <i>n</i></span>
                <input id="count" class="input__field" required placeholder="" type="number" min="1" onKeyDown="tdo(event)">
            </label>
            <button id="compute" onclick="ttestanswer()">Compute</button>
        </div>
        <div id="answer">
        </div>
    </Fragment>
</App>

<style is:global>
    #answer {
        border: 2px solid black;
        max-width: 18rem;
        padding: 1rem;
    }
    #compute {
        display: block;
        font-size: 1rem;
        font-family: Merriweather, serif;
        padding: .7em 1.2em;
        margin: 2em 0;
        background-color: rgb(255, 182, 140);
        border: 2px solid black;
        box-shadow: 5px 5px 0 0 black;
        &:hover {
            box-shadow: 4px 4px 0 0 black;
            transform: translate(1px, 1px);
        }
        &:active {
            box-shadow: 1px 1px 0 0 black;
            transform: translate(3px, 3px);
        }
    }
    #form {
        width: 18rem;
    }
    .input {
        position: relative;
    }

    .input__label {
        position: absolute;
        left: 1em;
        top: -0.7em;
        padding: 0 .2em;
        white-space: nowrap;
        background: white;
        font-size: .9rem;
        z-index: 1;
    }
    .input__field {
        box-sizing: border-box;
        font-family: Merriweather, serif;
        background-color: transparent;
        display: block;
        border: 3px solid black;
        margin: 2em 0;
        padding-left: 1em;
        width: 100%;
        height: 3.3em;
    }

    /* Code below fails for Playwright's WebKit because we need input label to go before input field in above code, so below code no longer applies */
    /* label:active > .input__label {
        transform: translate(-0.4em,-1.4em) scale(0.95);
        color: hsl(0, 0%, 0%);
        z-index: 1;
    } */
     
    /* .input__field:not(:placeholder-shown):user-valid {
        background-color: aquamarine;
    } */
</style>