---
 // @ts-nocheck
 import App from "../../layouts/App.astro"
---
<App
    title = "z-Test Calculator"
    ogtitle = "z-Test Calculator"
    description = "Comprehensive z-test calculator"
    keywords = "Statistics, z-test, calculator"
    content = ""
>
    <Fragment slot="app">
        <!-- <h1><i>z</i>-Test Calculator</h1> -->
        <h1>$z$-Test Calculator</h1>
        <noscript>
            Enable JavaScript for this calculator to work.
        </noscript>
        <!-- Div needed for first input label to have correct vertical position -->
        <div id="form">
            <label class="input" for="popmean">
                <input id="popmean" class="input__field" required placeholder="" type="text">
                <span class="input__label">Population mean <i>μ</i></span>
            </label>
            <label class="input" for="samplemean">
                <input id="samplemean" class="input__field" required placeholder="" type="text">
                <span class="input__label">Sample mean $\overline x$</span>
            </label>
            <label class="input" for="samplestd">
                <input id="samplestd" class="input__field" placeholder="" type="text">
                <span class="input__label">Population standard deviation <i>σ</i></span>
            </label>
            <label class="input" for="count">
                <input id="count" class="input__field" required placeholder="" type="number" min="1">
                <span class="input__label">Number of samples <i>n</i></span>
            </label>
            <button id="compute" onclick="ttest()">Compute</button>
        </div>
        <div id="answer">
        </div>
    </Fragment>
</App>


<style is:global>
    #answer {
        border: 2px solid black;
        max-width: 18rem;
        padding: 1rem;
    }
    #compute {
        display: block;
        font-size: 1rem;
        font-family: Merriweather, serif;
        padding: .7em 1.2em;
        margin: 2em 0;
        background-color: rgb(255, 182, 140);
        border: 2px solid black;
        box-shadow: 5px 5px 0 0 black;
        &:hover {
            box-shadow: 4px 4px 0 0 black;
            transform: translate(1px, 1px);
        }
        &:active {
            box-shadow: 1px 1px 0 0 black;
            transform: translate(3px, 3px);
        }
    }

    #form {
        width: 18rem;
    }
    .input {
        position: relative;
    }

    .input__label {
        position: absolute;
        color: rgb(107, 107, 107);
        left: 1rem;
        top: 1.7rem;
        padding: 0 .2rem;
        height: 1.5rem;
        white-space: nowrap;
        background: white;
        font-size: .9rem;
        transition: .4s;
        z-index: -1;
    }
    .input__field {
        box-sizing: border-box;
        font-family: Merriweather, serif;
        background-color: transparent;
        display: block;
        border: 3px solid black;
        margin: 2em 0;
        padding-left: 1rem;
        width: 100%;
        height: 3rem;
    }
    .input__field:focus {
        outline: none;
    }

    .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
        transform: translate(-0.4rem,-1.4rem) scale(0.95);
        color: hsl(0, 0%, 0%);
        z-index: 1;
    }
    /* .input__field:not(:placeholder-shown):user-valid {
        background-color: aquamarine;
    } */
</style>