---
 // @ts-nocheck
import App from "../../layouts/App.astro"
---
<App
    title = "z-Test Calculator"
    ogtitle = "z-Test Calculator"
    description = "Comprehensive z-test calculator"
    keywords = "Statistics, z-test, calculator"
    content = ""
>
    <Fragment slot="app">
        <!-- <h1><i>z</i>-Test Calculator</h1> -->
        <h1>$z$-Test Calculator</h1>
        <noscript>
            Enable JavaScript for this calculator to work.
        </noscript>
        <!-- Div needed for first input label to have correct vertical position -->
        <div id="form">
            <label class="input" for="popmean">
                <span class="input__label">Population mean <i>μ</i></span>
                <input id="popmean" class="input__field" required placeholder="" type="text" onKeyDown="z()">
            </label>
            <label class="input" for="std">
                <span class="input__label">Population standard deviation <i>σ</i></span>
                <input id="std" class="input__field" placeholder="" type="text" onKeyDown="z()">
            </label>
            <label class="input" for="samplemean">
                <span class="input__label">Sample mean $\overline x$</span>
                <input id="samplemean" class="input__field" required placeholder="" type="text" onKeyDown="z()">
            </label>
            <label class="input" for="count">
                <span class="input__label">Sample size <i>n</i></span>
                <input id="count" class="input__field" required placeholder="" type="number" min="1" onKeyDown="z()">
            </label>
            <button id="compute" onclick="ztestanswer()">Compute</button>
        </div>
        <div id="answer">
        </div>
    </Fragment>
</App>


<style is:global>
    #answer {
        border: 2px solid black;
        max-width: 18rem;
        padding: 1rem;
    }
    #compute {
        display: block;
        font-size: 1rem;
        font-family: Merriweather, serif;
        padding: .7em 1.2em;
        margin: 2em 0;
        /* background-color: rgb(255, 182, 140); */
        background-color: rgb(255, 139, 143);
        border: 2px solid black;
        box-shadow: 5px 5px 0 0 black;
        &:hover {
            box-shadow: 4px 4px 0 0 black;
            transform: translate(1px, 1px);
        }
        &:active {
            box-shadow: 1px 1px 0 0 black;
            transform: translate(3px, 3px);
        }
    }
    #form {
        width: 18rem;
    }

    .input__label {
        margin-left: 15px;
        padding: 0 .4em;
        white-space: nowrap;
        background: white;
        font-size: .9em;
        z-index: 1;
    }
    .input__field {
        box-sizing: border-box;
        font-family: Merriweather, serif;
        display: block;
        border: 3px solid black;
        margin: -1em 0 1em 0;
        padding-left: 18px;
        width: 100%;
        height: 3.3em;
    }

    .input__field:focus {
        outline: none;
    }
</style>