---
import Layout from '../layouts/Index.astro';
---

<Layout title="Explore Mathematics">
	<h1>For a single page</h1>
	<p>Here is some text. Does it have an <code>data-astro</code> tag?</p>
	<p>Without styles, no. Also the output is automatically minified.</p>
	<p>Adding (by default, scoped) style generates data tags for elements that need to be scoped.</p>
	<p>Doing <code>&lt;style is:global&gt;</code> removes the required style data tags.</p>
	<h1>For a single page with layouts</h1>
	<a href="calculus/staircase/">A link</a>
</Layout>