<span class="aside" role="note"><slot></slot></span>

<style is:global>
.aside {
    font-size:.75rem;
    line-height: 1.4;
    width: 14rem;
    float: right;
    display: inline;
    margin-right: -15.4rem;
}
@media (max-width: 50.5rem) {
    .aside {
        display: none;
    }
}
</style>