<span class="aside" role="note"><slot></slot></span>

<style is:global>
.aside {
    font:.8rem/1.4 'Segoe UI', sans-serif;
    width: 14rem;
    float: right;
    display: inline;
    color: rgb(90, 90, 90);
    margin-right: -15.6rem;
    border-top: .4em solid rgb(234, 234, 234);
    padding: .5em 0;
}
@media (max-width: 50.5rem) {
    .aside {
        display: none;
    }
}
</style>