<footer>
    <a href="mailto:hi@exploremathematics.org">Email</a>
    <p>
      Copyright © 2024 Man Cheung Tsui
    </p>
</footer>
<style is:global>
footer
{
    padding: 0 3%;
    font-size: .8em;
}
</style>