<footer>
    <p>
        Email<br><b><a href="mailto:hi@exploremathematics.org">hi@exploremathematics.org</a></b>
    </p>
    <p>
        Copyright 2024–<script @ts-ignore>document.write(new Date().getFullYear());</script><br><b>Explore Mathematics</b>
    </p>
</footer>
<style is:global>
</style>