---
const currentYear = new Date().getFullYear();
---
<footer>
    <p>
        Email<br><b><a href="mailto:hi@exploremathematics.org">hi@exploremathematics.org</a></b>
    </p>
    <p>
        Copyright 2024–{currentYear}<br><b>Explore Mathematics</b>
    </p>
</footer>
<style is:global>
</style>