<footer>
    Email<br>
    <b><a href="mailto:hi@exploremathematics.org">hi@exploremathematics.org</a></b><br><br>
    Copyright © 2024<br>
    <b>Explore Mathematics</b>
</footer>
<style is:global>
</style>