
  <!-- Article: Why Learn -->
  <article id="w">
    <div>
      <h2>So learn math</h2> because it's <span role="img" aria-label="img">😎</span>.
    </div>
    <div id="v">
      <figure>
        <blockquote>The good Christian should beware of mathematicians, and all those who make empty prophecies. The
          danger already exists that the mathematicians have made a covenant with the devil to darken the spirit and to
          confine man in the bonds of Hell.</blockquote>
        <figcaption>
          ⸻ <a
            href="https://skeptics.stackexchange.com/questions/34756/did-augustine-of-hippo-warn-christians-to-beware-mathematicians">Saint
            Augustine<br>of Hippo</a>
        </figcaption>
      </figure>
      <figure>
        <blockquote>What's the difference between a mathematician and a philosopher?<br><br>
          A philosopher needs pencil and paper.<br><br>
          A mathematician also needs a trash can.</blockquote>
        <figcaption>
          ⸻ Folklore
        </figcaption>
      </figure>
      <figure>
        <blockquote>If you stop at general math, then you will only make general math <span role="img"
            aria-label="money">💰</span>.</blockquote>
        <figcaption>
          ⸻ <a
            href="https://money.usnews.com/money/blogs/capital-commerce/2009/11/17/snoop-dogg-gives-business-advice">Snoop
            Dogg</a>
        </figcaption>
      </figure>
    </div>
	</article>
<style is:global>
    
    /* Article: Why Learn */
    #w {
      padding: 1em 1em 4em 10vw;
      background-color: #f1f1f1;
    }

    #v {
      margin-top: 1.5em;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 4vw;
    }

    #w figure {
      margin: 0;
      background: #ede6dc;
      padding: .3rem;
      max-width: 17em;
      border-radius: 1rem;
      box-shadow: 3px 3px 2px #d2d2d2;
      font: .8rem Alegreya, serif;
    }

    #w figure:hover {
      box-shadow: 3px 3px 2px #bebebe;
    }

    #w figcaption {
      padding: 0 1rem 1rem 1rem;
      text-align: right;
    }

    blockquote {
      position: relative;
    }

    blockquote:before {
      content: '\201c';
      position: absolute;
      left: -.5rem;
    }

    blockquote:after {
      content: '\201d';
    }

</style>