---
const { title, description, keywords } = Astro.props;

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Man Cheung Tsui">
	<meta name="description" content={description}>
	<meta name="keywords" content={keywords}>
    <!-- Links: fonts, icon, KaTeX (CSS, main, auto-render), hover.js -->
    <link rel="preload" href="/public/fonts/Billy.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Reference: https://victorlillo.dev/blog/modern-defer-styles -->
    <!-- Load KaTeX JS defer, but download earlier than KaTeX styling (so JS can parse math while KaTeX CSS is being fetched) -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="
    renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false}
        ],
        throwOnError: false, trust: true});">
    </script>
    <!-- Load non-critical CSS asynchronously via JS with noscript fallback -->
    <!-- Load KaTeX CSS async as well -->
    <!-- <link href="/public/styles/article.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
    <link href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <!-- <link rel="stylesheet" href="/public/styles/article.css"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    </noscript>
    <script defer src="/public/hover.js"></script>
    <!-- Favicon listed last -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <title>{title} | Explore Mathematics</title>
</head>
<body>
    <Header />
    <main>
        <article>
            <h1>{title}</h1>
            <slot name="article"></slot>
        </article>
        <slot name="articleNavNext"></slot>
    </main>
	<Footer />
</body>
</html>
<!-- Critical CSS: font-face, header, layout of h1/p/SVG/figure -->
<style is:global>
    /* Font face: Billy */
    @font-face {
        font-family:'Billy'; 
        src: url("/public/fonts/Billy.woff2");
    }
    /* Overall layout */
    html {
        font:1.1rem 'Segoe UI', 'Roboto', 'Lucida Grande', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        margin:0;
    }
    /* Section lazy loading */
    section {
        content-visibility: auto;
        contain-intrinsic-size: auto 100vh;
    }
    /* Overall formatting: selection, strong */
    ::selection {
        background: #ffdf75;
    }
    /* Links */
    a {
        color:black;
        text-decoration-color: #0000004d;
        text-decoration-thickness: .15em;
        text-decoration-skip-ink: none;
    }
    a:hover{
        text-decoration-color: #000;
        text-decoration-thickness: .2em;
    }
    /* Figure, images max-width */
    svg, img {
        max-width: 100%;
    }
    /* SVG: Scoped since KaTeX extensible arrows & brackets also use SVGs (with fills). */
    svg text {
        font-family: Billy, sans-serif;
    }
    figure svg path {
        stroke-linecap:round; 
        fill:none;
    }


/* Noncritical CSS, move to external file later */

</style>