---
const { title, description, keywords } = Astro.props;

import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Man Cheung Tsui">
	<meta name="description" content={description}>
	<meta name="keywords" content={keywords}>
    <!-- Links: fonts, icon, KaTeX (CSS, main, auto-render), hover.js -->
    <link rel="preload" href="/public/fonts/Billy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <!-- Load non-critical CSS asynchronously via JS with noscript fallback -->
    <!-- Reference: https://victorlillo.dev/blog/modern-defer-styles -->
    <!-- Load KaTeX CSS async as well -->
    <link href="/public/styles/article.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/public/styles/article.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"></noscript>
    <!-- Load KaTeX JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="
    renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false}
        ],
        throwOnError: false, trust: true});">
    </script>
    <script defer src="/public/hover.js"></script>
    <title>{title} | Explore Mathematics</title>
</head>
<body>
    <header>
        <svg role="img" aria-label="Website logo" viewBox="-2 -10 90 54" width="4.5em"><path d="M22 40c7 0 21-5 28-8s21-10 21-14S55 6 44 1c-3-1-4-2-12 0C15 6 0 8 0 11s10 9 21 15c15 8 22 9 29 10s21-2 21-4-16-8-21-10-10-3-14-4-9-2-14 0S0 26 0 29s15 10 22 11z" stroke="#cccccc" stroke-width="2" fill="none"/></svg><a href="/"><h1>EXPLORE<br>MATHEMATICS</h1></a>
    </header>
    <main>
        <article>
            <h1>{title}</h1>
            <slot></slot>
        </article>
    </main>
	<Footer />
</body>
</html>
<!-- Critical CSS: font-face, header, layout of h1/p/SVG/figure -->
<style is:global>
    /* Font face: Billy */
    @font-face {
        font-family:'Billy'; 
        src: url("/public/fonts/Billy.woff2"); 
        font-display: swap;
    }
    /* Overall layout */
    html {
        font:1.1rem 'Segoe UI', 'Roboto', 'Lucida Grande', Arial, 'Helvetica Neue', Helvetica, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        margin:0;
    }
    /* Section lazy loading */
    section {
        content-visibility: auto;
        contain-intrinsic-size: 1px 5em;
    }
    /* Overall formatting: selection, strong */
    ::-moz-selection {
        background: #ffdf75;
    }
    ::selection {
        background: #ffdf75;
    }
    /* Header */
    header
    {
        padding: 0 3%;
        display: flex;
    }
    header h1 {
        font-size: 1.2em;
        line-height: .9;
        transition: .1s;
        opacity: .7;
        background: linear-gradient(121deg, #6d1fb1, #3b978f, #588399);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    header a
    {
        text-decoration: none;
    }
    header h1:hover
    {
        opacity: .9;
    }
    /* Links */
    a {
        color:black;
        text-decoration-color: #0000004d;
        text-decoration-thickness: .15em;
        text-decoration-skip-ink: none;
    }
    a:hover{text-decoration-color:black;text-decoration-thickness:.2em;}
    /* KaTeX CSS customization */
    .katex {
        font-size:1.11em;
    }
    .katex-display {
        margin-top:.8em;
    }
    /* Figure, images max-width */
    svg, img {
        max-width: 98vw;
    }
    /* SVG */
    /* Scope svg properties to figure svg since KaTeX extensible arrows & brackets also use SVGs (with fills). */
    svg text {
        font-family: Billy, sans-serif;
    }
    figure svg path {
        stroke-linecap:round; 
        fill:none;
    }




/* Noncritical CSS, move to external file later */





/* Navigation: next link; make this into a Component that allows multiple links */
    nav {
        grid-column: 2/3;
        border-top: 6px solid black;
        border-bottom: 6px solid black;
        margin: 3em 0;
        padding: 1em 0;
    }
    nav a {
        font-size: 1.6em;
        font-weight: bold;
        text-decoration: none;
    }
    #b {
        display: inline-block;
        /* Reserve right margin for animation. Per Edge's console suggestion, transform animations do not trigger Layout redraws compared to changing padding. */
        margin-right: .4em;
    }
    nav a:hover {
        color:#56a7f3;
    }
    nav a:hover #b {
        animation: arrow .7s infinite alternate;
    }
    @keyframes arrow {
        to {transform: translate(.4em);}
    }
</style>