---
import Footer from '../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Intuition and overview for your calculus and university math classes. Calculus is explained through a staircase. Statistics is introduced geometrically.">
	<meta name="keywords" content="Mathematics, Calculus, Statistics, Linear Algebra">
	<meta name="author" content="Man Cheung Tsui">
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg"/>
<title>Explore Mathematics</title>
</head>
<body>
	<slot />
	<Footer />
</body>
</html>
<!-- Inline all CSS for index page -->
<style is:global>
	h1 {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 2rem;
	}
</style>